doctype html
html
    include header
    body
        h1 Gun Game!
        table(id="gametable")
            tr
                td
                    div(id="map")
                td
                    div(id="inputside")
                        table
                            tr
                                td
                                    div(id="owncoords") Set coordinates by text input or by clicking on map to begin!
                                td
                                    div(id="gamedata")
                        table
                            tr
                                td
                                    div(id="infobox")
                        //table
                            //tr
                                //td
                                    //div(id="form")
                                        //form(id="gameform")
                                        //| Give own coordinates:
                                        //br
                                        //input(type="text" id="ownCoordsX")
                                        //| x 
                                        //input(type="text" id="ownCoordsY")
                                        //input(type="button" id="lockCoords" value="Lock coordinates")
                                        //br
                                        //| Shoot to coordinates:
                                        //br
                                        //input(type="text" id="coordX")
                                        //| x 
                                        //input(type="text" id="coordY")
                                        //input(type="button" id="shoot" value="shoot")
                        table
                            tr
                                td
                                    div(id="moving")
                                        center
                                            table
                                                tr
                                                    td
                                                        input(type="button" id="moveleft" value="left")
                                                    td
                                                        table
                                                            tr
                                                                td
                                                                    input(type="button" id="moveup" value="up")
                                                            tr
                                                                td
                                                                    input(type="button" id="movedown" value="down")
                                                    td
                                                        input(type="button" id="moveright" value="right")
        table(id="gametable")
            tr
                td
                    table
                        tr
                            td
                                div(id="info") 
                                    font(color='blue') @
                                    |  : Your gun
                                    br
                                    font(color='brown') X
                                    |  : Moveable / shootable terrain
                                    br
                                    font(color='red') *
                                    |  : Explosion
                                    br
                                    font(color='blue') *
                                    |  : Approximate origin of enemy fire
                                    br
                                    br
                                    | More of the controls can be found in 
                                    a(href='info.txt' target='_blank') here.
                                    br
                                    | Used sound resources are linked in 
                                    a(href='usedsounds.txt' target='_blank') here.
                                    br
                                    | My blog can be found in 
                                    a(href='http://villegame.wordpress.com/' target='_blank') here.
                td
                    table
                        tr
                            td
                                div(id="chatarea")
                                    div(id="chatbox")
                                    form
                                    | Name:
                                    input(type="text" id="chatName" size="10")
                                    | :  
                                    input(type="text" id="chatMessage" onkeydown="if (event.keyCode == 13) document.getElementById('sendChatMessage').click()" size="48")
                                    |  
                                    input(type="button" id="sendChatMessage" value="send")
                            
